:root {
    font-size: 16px;
}

body {
    line-height: 1.5rem;
    font-family: sans-serif;
    color: #000;
    background: #fff;
}

body > * {
    padding: 0.75rem 0;
}

h2,
h3,
p:not(:last-child) {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.125rem;
}

ol,
ul {
    margin: 1.5rem 0;
    padding-left: 2rem;
}

a {
    color: #900;
    text-decoration: underline;
}

/**
 * Figure
 */
figure {
    margin-bottom: 1.5rem;
}

figcaption {
    font-size: 0.875rem;
}

figure {
    text-align: center;
}

figure.left {
    float: left;
    margin-right: 0.75rem;
    text-align: left;
}

figure.right {
    float: right;
    margin-left: 0.75rem;
    text-align: left;
}

/**
 * Quote
 */
blockquote {
    padding: 2.25rem 0.75rem 0.75rem;
    color: #fff;
    background: #4adfcc;
    box-shadow: 0.125rem 0.125rem 0.125rem #e0e0e0;
}

blockquote::before {
    display: block;
    content: '🙷';
    font-family: serif;
    font-size: 6rem;
}

/**
 * Table
 */
table {
    width: 100%;
    font-size: 0.875rem;
}

td,
th {
    min-height: 1.5rem;
    border: solid 0.0625rem #e4e7ea;
}

td,
th {
    border: solid 0.0625rem #e4e7ea;
}

thead tr:last-child td,
thead tr:last-child th,
tbody tr:last-child td,
tbody tr:last-child th {
    border-bottom-color: #000;
}

/**
 * Button
 */
button {
    line-height: 1.5rem;
    padding: 0.75rem;
    color: #000 !important;
    background: #60abc6;
    border: 0;
}
